RewriteEngine on

RewriteCond %{REQUEST_URI} api\/(.*)^
RewriteRule ^(.*)$ api.php [L]


RewriteCond %{REQUEST_URI} setup\/(.*)^
RewriteRule ^(.*)$ setup.php [L]


RewriteRule ^(.*)$ index.php [L]



