<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "http://frdl.webfan.de/site/package/frdl.my.webfan!"
        version     = "0.0.1-beta"
        height      = "16"
        width       = "16"
        viewmodes   = "minimized floating">
 
  <name short="Example 2.0">
    The example Widget!
  </name>


<preference  name="UUID" value=""/>

<preference  name="$.WebfanDesktop.o.URL_RPC" value="http://shell.frdl.de/jsonrpc/remote.json"/>
<preference  name="$.WebfanDesktop.o.URL_JSONP" value="http://interface.api.webfan.de/v1/public/frdl/bounce/cli.jsonp"/>
<preference  name="$.WebfanDesktop.o.URL_CLIENT" value="window.location.href"/>

<preference  name     = "desktop.autoinit"
              value    = "" />
              
              


<preference  name     = "api.client"
              value    = "" />
              
<preference  name     = "api.token"
              value    = "" />
              
<preference  name     = "api.key"
              value    = ""
              readonly = "true" />

<preference  name     = "apikey"
              value    = ""
              readonly = "true" />
              
              
              

  <description>
    Website Apps and Onlinetools (related to frdl/webfan).
  </description>

<author href  = "http://frdl.webfan.de/site/#ref=webapp&amp;id=frdl.my.webfan&amp;author=Till.Wehowski"
          email = "software@frdl.de">Till Wehowski</author>

  <access origin="*" />
  <content src="index.html" type="text/html"/>  
  
  
<license 
 xml:lang="de" dir="ltr"
 src="http://domainundhomepagespeicher.webfan.de/software-center/api/license/1.3.6.1.4.1.37553.8.1.8.4.5/licensetext/" 
 href="http://look-up.webfan.de/webdof-license"
 data-oid="1.3.6.1.4.1.37553.8.1.8.4.5"
 data-frdl-id-collection="widget:license">
<pre type="text">
/*################################################################################*
#
#   (c)Copyright Till Wehowski, http://Webfan.de 
#   All rights reserved - Alle Rechte vorbehalten
#
#
#                 WEBFAN.de Software License + API Appendix
#
#                  * webdof license *
#                    http://look-up.webfan.de/1.3.6.1.4.1.37553.8.1.8.4.5
#
#                 Version 4.0.0
#
#
#  WEBFAN SOFTWARE DARF NICHT AUF EINEM NICHT
#  AUTHORISIERTEN SERVER ZUM DOWNLOAD ANGEBOTEN WERDEN!
#
#  YOU ARE NOT ALLOWED TO REDISTRIBUTE THIS SOFTWARE ON A NOT AUTHORIZED SERVER.
#
#  Diese Software wird dem Endbenutzer zur Benutzung im Rahmen der Zweckbestimmung
#  und im Rahmen der per Kaufvertrag oder Nutzungsvereinbarungen vereinbarten 
#  Leistungen/Funktionen zur Verfuegung gestellt.
#  Quellcodekommentare, Urheberrechtshinweise und Copyrightvermerke duerfen nicht entfernt werden.
#  Eine Nutzung ueber die Rahmenvereinbarungen hinaus ist nicht erlaubt, die 
#  Lizenz kann durch ergaenzende Lizenzen bzw. lizensierte Funktionen erweitert
#  werden. Teile der Software koennen erweitert oder abweichend lizensiert sein,
#  entsprechende Lizenzen sind in diesem Falle beigefuegt.
#
#  KOSTENPFLICHTIGE ERWEITERUNGEN BENOETIGEN EIN GUELTUIGES WEBFAN ZERTIFIKAT ODER LICENSEKEY.
#
#  Im Falle der Modifikation der Software durch den Endbenutzer koennen vorgesehene
#  Funktionalitaeten oder Updatedienste unter Umstaenden nicht mehr gewaehrleistet werden.
#
#  Die Benutzung der Software erfolgt auf eigene Gefahr, jegliche Haftung ist
#  ausgeschlossen insofern Vorsatz, grobe Fahrlaessigkeit oder sonstige
#  gesetzliche Haftungsverpflichtungen nicht in Betracht kommen.
#
#
#  API Appendix
#
#  Webfan.de stellt ausserdem sogenannte API-Dienste bereit.
#  In diesem Zusammenhang koennen Zusatzleistungen freigeschaltet werden, 
#  insbesondere zusaetzlicher Speicher und zusaetzliches Transvervolumen.
#  Im kostenlosen Grundaccount ist eine Grundmenge inklusive, bei Ueberschreitung
#  kann die Leistung blockiert oder eingeschraenkt werden. In diesem Falle
#  kann der Leistungsumfang kostenpflichtig aufgestockt werden.
#  Automatische Kosten entstehen nicht - prepaid Prinzip.
#  Ausserdem koennen ggf. Zusatzleistungen hinzugebucht werden, welche in der 
#  kostenlosen Version nicht zur Verfuegung stehen 
#  (z.B. RSA Verschluesselung, Alternativformate etc.).
#
#
#  (c)Webfan Software http://www.webfan.de/lizenzverwaltung-op-kaufen.html
#
*################################################################################*/
</pre>
</license>



<license 
  xml:lang="en" dir="ltr"
  src="http://domainundhomepagespeicher.webfan.de/software-center/api/license/1.3.6.1.4.1.37553.8.1.8.4.9/licensetext/" 
  href="http://look-up.webfan.de/bsd-license"
  data-oid="1.3.6.1.4.1.37553.8.1.8.4.9"
  data-frdl-id-collection="widget:license">
<link rel="alternate" type="text" title="webdof-license" href="http://domainundhomepagespeicher.webfan.de/software-center/api/license/1.3.6.1.4.1.37553.8.1.8.4.5/licensetext/" />
<pre type="text">
Copyright (c) 2015, Till Wehowski
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. All advertising materials mentioning features or use of this software
   must display the following acknowledgement:
   This product includes software developed by the frdl/webfan.
4. Neither the name of the frdl/webfan nor the
   names of its contributors may be used to endorse or promote products
   derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS ''AS IS'' AND ANY
EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</pre>
</license>
</widget>