<h1>Application Composer</h1>





 <script type="text/javascript">
 var attachEventListener = function(obj, type, func, capture) {
  var objs = obj instanceof Array  || obj instanceof NodeList ? obj : [obj];

  for(var i in objs) {
    if(!!objs[i].addEventListener) {
      objs[i].addEventListener(type, func, capture);
    }
    else if(!!objs[i].attachEvent) {
      objs[i].attachEvent("on" + type, func);
    }
  }
};
 
 /*
    	 console.log('Resolving testIntent: ' + JSON.stringify(intent));
 */
 
    attachEventListener(window, "message", function(ev) {
      if(!intent || !ev.origin)return;
     //  console.log('Resolving testIntent: ' + JSON.stringify(intent));
      intent.postResult("Test result from service");
      window.opener.focus();
      setTimeout(function(){
       	 alert('Resolved testIntent (response was posted back to client): ' + JSON.stringify(intent) + ' EventData: '+ JSON.stringify(ev.data) + ' Event: '+ JSON.stringify(ev));
      	 window.close();
      },1000); /*IMPROTANT!*/
     
    }, false);
 </script>